<h2>Edit application</h2>

<%= render "form.html", changeset: @changeset,
                        jobs: @jobs,
                        students: @students,
                        action: application_path(@conn, :update, @application) %>

<%= link "Back", to: application_path(@conn, :index) %>
